/* Xóa màu nền mặc định khi autofill */
.apply-input input:-webkit-autofill,
.apply-input input:-webkit-autofill:hover,
.apply-input input:-webkit-autofill:focus,
.apply-input input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.1) inset !important;
  -webkit-text-fill-color: #fff !important; /* Đặt màu chữ trắng */
  transition: background-color 5000s ease-in-out 0s; /* Tránh nhấp nháy màu */
}

