.dropdown-profile-menu {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: none;
  }
  
  .dropdown-profile-menu.show {
    opacity: 1;
    transform: translateY(0);
    display: block;
  }
  
  .dropdown-profile-menu.hide {
    opacity: 0;
    transform: translateY(-10px);
    display: none;
  }
  